<a href="https://colab.research.google.com/github/siddheshsonawane07/DSBDAL/blob/master/Assignment_3a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("HR.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
print(df.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [ ]:
print("The mean of monthly income is :",df.loc[:,"MonthlyIncome"].mean())

The mean of monthly income is : 6502.931292517007

In [ ]:
print("The mean of age is : ",df.loc[:,"Age"].mean())

The mean of age is :  36.923809523809524

In [ ]:
print("The median of monthly income is : ",df.loc[:,"MonthlyIncome"].median())

The median of monthly income is :  4919.0

In [ ]:
print("The median of age is ", df.loc[:,"Age"].median())

The median of age is  36.0

In [ ]:
print("The mode of monthly income is ", df.loc[:,"MonthlyIncome"].mode())

The mode of monthly income is  0    2342
Name: MonthlyIncome, dtype: int64

In [ ]:
print("The mode of Age is ", df.loc[:,"Age"].mode())

The mode of Age is  0    35
Name: Age, dtype: int64

In [ ]:
print("The standard deviation of monthly income is :",df.loc[:,"MonthlyIncome"].std())

The standard deviation of monthly income is : 4707.956783097994

In [ ]:
print("The standard deviation of age is :",df.loc[:,"Age"].std())

The standard deviation of age is : 9.135373489136732

In [ ]:
array1 = np.array(df["MonthlyIncome"])
array2 = np.array(df["Age"])
print("Income", array1)
print("Age", array2)

Income [5993 5130 2090 ... 6142 5390 4404]
Age [41 49 37 ... 27 49 34]

In [ ]:
print("Maximum income among the employees is ",max(array1))
print("Minimum income among the employees is",min(array1))

Maximum income among the employees is  19999
Minimum income among the employees is 1009

In [ ]:
print("Maximum age among the employees is ",max(array2))
print("Minimum age among the employees is",min(array2))

Maximum age among the employees is  60
Minimum age among the employees is 18

In [ ]:
df["BusinessTravel"].replace({"Travel_Rarely":1, "Travel_Frequently":0}, inplace = True)
df["Attrition"].replace({"Yes":1,"No":0}, inplace = True)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,0,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,0,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,1,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2