<a href="https://colab.research.google.com/github/siddheshsonawane07/DSBDAL/blob/master/Assignment_3b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("Iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
data=df
data["species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [ ]:
data.rename(columns={"sepal_length":"slength","sepal_width":"swidth","petal_length":"plength","petal_width":"pwidth"},inplace=True)
data.head()

   slength  swidth  plength  pwidth      species
0      5.1     3.5      1.4     0.2  Iris-setosa
1      4.9     3.0      1.4     0.2  Iris-setosa
2      4.7     3.2      1.3     0.2  Iris-setosa
3      4.6     3.1      1.5     0.2  Iris-setosa
4      5.0     3.6      1.4     0.2  Iris-setosa

In [ ]:
sum_data = data["slength"].sum()
mean_data = data["slength"].mean()
median_data = data["slength"].median()
print("sepal sum ", sum_data)
print("sepal mean",mean_data)
print("sepal median",median_data)

sepal sum  876.5
sepal mean 5.843333333333334
sepal median 5.8

In [ ]:
data.isnull()
data_satosa=data["species"]=="Iris-setosa"
print("for setosa")
print(data[data_satosa].describe())

for setosa
        slength     swidth    plength    pwidth
count  50.00000  50.000000  50.000000  50.00000
mean    5.00600   3.418000   1.464000   0.24400
std     0.35249   0.381024   0.173511   0.10721
min     4.30000   2.300000   1.000000   0.10000
25%     4.80000   3.125000   1.400000   0.20000
50%     5.00000   3.400000   1.500000   0.20000
75%     5.20000   3.675000   1.575000   0.30000
max     5.80000   4.400000   1.900000   0.60000

In [ ]:
print(data[data_satosa].describe())
data_satosa=data["species"]=="Iris-virginica"

        slength     swidth    plength    pwidth
count  50.00000  50.000000  50.000000  50.00000
mean    5.00600   3.418000   1.464000   0.24400
std     0.35249   0.381024   0.173511   0.10721
min     4.30000   2.300000   1.000000   0.10000
25%     4.80000   3.125000   1.400000   0.20000
50%     5.00000   3.400000   1.500000   0.20000
75%     5.20000   3.675000   1.575000   0.30000
max     5.80000   4.400000   1.900000   0.60000

In [ ]:
print("for virginica")
print(data[data_satosa].describe())

for virginica
        slength     swidth    plength    pwidth
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

In [ ]:
print("for versicolor")
data_satosa=data["species"]=="Iris-versicolor"
print(data[data_satosa].describe())

for versicolor
         slength     swidth    plength     pwidth
count  50.000000  50.000000  50.000000  50.000000
mean    5.936000   2.770000   4.260000   1.326000
std     0.516171   0.313798   0.469911   0.197753
min     4.900000   2.000000   3.000000   1.000000
25%     5.600000   2.525000   4.000000   1.200000
50%     5.900000   2.800000   4.350000   1.300000
75%     6.300000   3.000000   4.600000   1.500000
max     7.000000   3.400000   5.100000   1.800000