<a href="https://colab.research.google.com/github/siddheshsonawane07/DSBDAL/blob/master/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("Boston.csv")

In [ ]:
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
df.isna().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

In [ ]:
target_variables = "medv"

In [ ]:
y = df[target_variables]

In [ ]:
x = df.drop(target_variables, axis=1)

In [ ]:
x.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
regression = LinearRegression()

In [ ]:
regression.fit(x_train, y_train)

LinearRegression()

In [ ]:
train_score=round(regression.score(x_train,y_train)*100,2)
print(train_score)

72.91

In [ ]:
y_pred = regression.predict(x_test)

In [ ]:
print(y_pred)

[22.93500847 21.33426998 33.64341684 31.38121149  3.21886121  3.26763262
 27.31999538 21.89970232 14.80207352 21.45123789 31.05266175 26.59774511
 21.44099034 18.13829314 17.75983909 25.60423386 24.35407994 13.32855847
  8.66053005 18.51734883 21.38463905 20.52998729 36.35290116 20.5289989
 19.87314549 16.14297052 37.21208052 34.92889306 31.22427357 22.95127025
 18.66313866 20.40381458 31.92097228 30.63224752 13.38675579 15.96315284
 13.76647712 23.92159555 25.98550083 23.49684928 28.86897559 12.73550048
 31.23236983  6.40966053 23.62575113 20.68056734 33.32593577 19.16888664
 35.67782233  0.76512428 31.89566563 31.51251053  6.59206812 34.42094185
 20.40705278 19.92995131 19.12222249 17.99053873 16.04669123 22.92927583
 19.32738896 16.12994727 18.15443268 32.5244847  35.31584863 24.81102472
 41.69481685 32.91579045 14.64886662 27.24515621  8.30208794  5.667022
 21.46687331 18.67718063 30.94685428 25.27712673 24.61045293 24.75635206
 25.76950384 25.02852055 34.17024746 19.89785811 20.56334707 28.16408654
 37.94494205 37.04393059 22.04675518 29.58634461 30.9386241  17.92692427
 21.15595435 19.75988843 18.69801149 37.08788777 39.69649392  9.14610177
 35.4067907  30.51797353 21.475268   13.80645202 31.42977204 24.70791411]

# R-squared is a statistical measure that indicates how much of the variation of a dependent
variable is explained by an independent variable in a regression

In [ ]:
from sklearn.metrics import r2_score
score=round(r2_score(y_test,y_pred)*100,2)
print(score)

78.1

In [ ]:
from sklearn import metrics
print("mean absolute error on test data of linear regression", metrics.mean_absolute_error(y_test,y_pred))

mean absolute error on test data of linear regression 3.0812603233002447

In [ ]:
print("mean squared eror on test data of linear regression", metrics.mean_squared_error(y_test, y_pred))

mean squared eror on test data of linear regression 18.321720821929564

In [ ]:
print("root mean squared error on test data of linear regression",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

root mean squared error on test data of linear regression 4.280387928906627

In [ ]:
df = pd.DataFrame({"actual":y_test, "predicted":y_pred, "variance":y_test-y_pred})

In [ ]:
df.head()

     actual  predicted  variance
463    20.2  22.935008 -2.735008
152    15.3  21.334270 -6.034270
291    37.3  33.643417  3.656583
183    32.5  31.381211  1.118789
384     8.8   3.218861  5.581139